In [1]:
# pip install git+https://github.com/navikt/inbound@main

In [2]:
import duckdb

## Load data from local file to duckdb using yml job declaration

In [3]:
from inbound.core.jobs import run_job

res = run_job("csv_duckdb.yml")

[2022-11-07 22:55:45,887] INFO - inbound 0.0.3 | Starting job: CSV to DuckDB (write-difficult-room). Source: file. Target: duckdb
[2022-11-07 22:55:45,901] INFO - inbound 0.0.3 | Batch number 1 of length 10 returned after 3533692 seconds
[2022-11-07 22:55:45,911] INFO - inbound 0.0.3 | Job  CSV to DuckDB (write-difficult-room) completed in 23716870 seconds. Result: Finished in 23.000 seconds. Result: {"result": "DONE", "rows": "10", "size": "368", "duration": "23.000", "batchcount": "3"}

In [4]:
con = duckdb.connect("tempdb")
df = con.execute("SELECT * FROM test").df()
df.head()

,Code,Job_search_methods,Unemployed_census_usually_resident_population_count_aged_15_years_and_over
0,1,Looked at job advertisements,127077
1,2,"Wrote, phoned or applied in person to an employer",71487
2,3,Contacted Work and Income to look for a job,33369
3,4,Contacted friends or relatives for help in fin...,69543
4,5,Contacted career advisers or vocational guidan...,22311